/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*body > #app .container.content {
  padding: 60px 15px 0;
}*/
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* SentenTree CSS */

.navbar-text.navbar-star {
  margin-top 15px;
  margin-bottom: 10px;
}

.vis-container {
  overflow-x: auto;
  overflow-y: hidden;
  padding: 20px;
  border: 1px solid #eee;
  margin-bottom: 60px;
}

.github-corner svg {
  z-index: 1040;
}

/*body{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
}

h1, h2, h3{
  font-weight: 300;
}

h2{
  color: #777;
}

a, a:link, a:visited{
  color: #5d7da7;
  text-decoration: none;
}

a:hover{
  color: #232d5f;
  text-decoration: underline;
}

footer{
  color: #aaa;
  font-size: 12px;
  font-weight: 300;
  padding: 20px;
  padding-top: 40px;
}*/