@import './_stickyFooter';

.star-block {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.vis-container {
  overflow-x: auto;
  overflow-y: hidden;
  padding: 20px;
  border: 1px solid #eee;
  margin-bottom: 60px;
}

.popover-container {
  position: relative;
}

.popover-content {
  position: absolute;
  margin-left: -135px;
  z-index: 100;
}

.popover-inner {
  padding: 4px 10px;
  border: 1px solid #ddd;
  background-color: rgba(250,250,250, 0.9);
}

.popover-inner h4 {
  text-align: center;
  margin-top: 5px;
}

.mock-tweet {
  display: inline-block;
  width: 250px;
  border-left: 2px solid #29B6F6;
  background-color: #E1F5FE;
  font-weight: 700;
  font-size: 0.9em;
  padding: 10px 12px 12px;
  margin-bottom: 10px;
  color: #01579B;
}

.mock-tweet .top-remark {
  font-weight: 400;
  font-size: 0.9em;
}

.mock-tweet .word-count {
  font-weight: 400;
  font-size: 0.9em;
}

.floater-links {
  float: left;
  vertical-align: bottom;
  li {
    font-weight: 500;
  }
}
