@import './styles/_stickyFooter';
@import './styles/_mockTweet';

.page-header h1 {
  @media (max-width: 600px) {
    text-align: center;
  }
}

.star-block {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.floater-links {
  float: left;
  vertical-align: bottom;
  li {
    font-weight: 500;
  }
}

.vis-container {
  overflow-x: auto;
  overflow-y: hidden;
  padding: 20px;
  border: 1px solid #eee;
  margin-bottom: 60px;
}

.popover-container {
  position: relative;
}

.popover-content {
  position: absolute;
  margin-left: -135px;
  z-index: 100;
}

.popover-inner {
  padding: 4px 10px;
  border: 1px solid #ddd;
  background-color: rgba(250,250,250, 0.9);

  h4 {
    text-align: center;
    margin-top: 5px;
  }
}

